<main role="main" class="inner cover text-center">
  <h1 class="cover-heading my-5">What is Qualified Immunity?</h1>

  <p class="lead my-5">
    <blockquote class="blockquote">
      <p class="mb-0">
        Under the doctrine of qualified immunity, public officials are held to a
        much lower standard. They can be held accountable only insofar as they
        violate rights that are “clearly established” in light of existing case law.
      </p>

      <footer class="blockquote-footer">
        Amir H. Ali and Emily Clark in
        <cite title="Qualified Immunity: Explained">
          <%= link_to 'Qualified Immunity: Explained', 'https://theappeal.org/qualified-immunity-explained/' %>
        </cite>
      </footer>
    </blockquote>
  </p>

  <p class="my-5">
    In other words, unless you can prove that a cop violated your rights, <em>and</em>
    another cop has been successfully sued for that same violation, your case
    will likely get thrown out. Here is another good description of what that means:
  </p>

  <div class="embed-responsive embed-responsive-16by9 mb-5">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/km4uCOAzrbM?start=484&end=578"
            allowfullscreen>
    </iframe>
  </div>

  <p class="lead my-5">
    <a href="https://www.markey.senate.gov/imo/media/doc/Qualified%20Immunity%20resolution.pdf" class="btn btn-lg btn-secondary">
      Link to Senate Resolution to Abolish Qualified Immunity for Law Enforcement
    </a>
  </p>
</main>