<main class="byc-masthead byc-masthead-background-style-2" role="main">
  <div class="container">
    <div class="row mb-5">
      <div class="col-6 mx-auto mb-3 col-md-4 order-md-2">
        <%= image_tag '/images/congress.jpg', class: 'img-fluid rounded',
              alt: 'United States Capitol building at night' %>
      </div>

      <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3">
          What is Congress?
        </h1>

        <p class="lead">
          It is the legislative branch of the United States federal government.
          Put simply, it is responsible for making our nation's laws.

        <p class="lead">
          Interestingly, of the three main branches of our government, it is the
          only one that is elected directly by the American people. This gives
          us citizens a lot of power.
        </p>
      </div>
    </div>
  </div>
</main>

<div class="container">
  <hr class="mb-5"/>
</div>

<div class="byc-masthead-followup">
  <div class="container">
    <div class="row mb-5">
      <div class="col-6 mx-auto mb-3">
        <%= image_tag '/images/house.svg', class: 'img-fluid rounded mx-auto d-block',
              style: 'max-height: 300px', alt: 'Seal of the United States House of Representatives' %>
      </div>

      <div class="col-md-6">
        <h2>The House of Representatives</h2>

        <p class="lead font-weight-normal">
          In the House, each state has some representatives proportional to
          their population. The more people a state has, the more
          representatives it gets.
        </p>

        <p class="lead font-weight-normal">
          Each represenative serves a two year term. Because each term is so
          short, representatives are constantly considering the opinion of the
          people. If not, they would be voted out quickly.
        </p>

        <p class="text-muted">
          The House's special powers include:

          <ul class="text-muted">
            <li>Impeaching the president</li>
            <li>Deciding a presidential elections if there is a tie</li>
            <li>Any bills regarding taxes start in the House</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-6 mx-auto mb-3  order-md-12">
        <%= image_tag '/images/senate.svg', class: 'img-fluid rounded mx-auto d-block',
              style: 'max-height: 300px', alt: 'Seal of the United States Senate' %>
      </div>

      <div class="col-md-6 order-md-1 ">
        <h2>The Senate</h2>

        <p class="lead font-weight-normal">
          In the Senate, each state has the same number of senators, two.
          Therefore, each state is represented equally.
        </p>

        <p class="lead font-weight-normal">
          Each senator serves a six year term. The reason for the longer terms,
          accourding to the founding fathers, was to allow the senators to
          debate and think through issues, without being too affected by swaying
          public opinion.
        </p>

        <p class="text-muted"">
          The Senate's special powers include:

          <ul class="text-muted">
            <li>Holding impeachment trials</li>
            <li>Signing treaties</li>
            <li>Confirming special offices in the government like federal judges</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr class="mb-5"/>
</div>

<div class="byc-masthead-followup">
  <div class="container">
    <h2 class="text-center mb-5">
      Why does Congress even have two parts?
    </h2>

    <div class="row mb-5">
      <div class="col-md-8 mx-auto">
        <p class="lead">
          Well, the founding fathers were concerned that Congress would have to much
          power. So they split it up and made it so each part had power over the
          other.
        </p>

        <p class="lead">
          A bill (proposal for a law) can start in either the Senate or the House.
          In each case it is debated, revised, and debated some more. Once that is
          finished, it has to go through the same process in the other part of
          Congress. Because each part can check the other, neither gets too much
          power.
        </p>

        <p class="lead">
          Once both sides agree, you have a law!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr class="mb-5"/>
</div>

<div class="byc-masthead-followup">
  <div class="container text-center">
    <div class="row mb-5">
      <div class="col-md-6 mx-auto">
        <p class="lead mb-4 text-muted">
          You just read a quick summary of what the United States Congress is.
          If you are curious about learning more, check out this awesome crash
          course on YouTube:
        </p>

        <div class="d-flex flex-column flex-md-row justify-content-center">
          <%= link_to 'YouTube Congress Crash Course', 'https://youtu.be/n9defOwVWS8',
                class: 'btn btn-lg btn-primary mb-3 mr-md-3' %>
        </div>
      </div>
    </div>
  </div>
</div>