<main role="main" class="inner cover">
  <h1 class="cover-heading text-center mt-4">
    <%= link_to '(775) 204-8432', 'tel:7752048432', class: 'text-primary' %>
  </h1>

  <div class="row">
    <div class="col-md-10 mx-auto">
      <p class="lead my-5">
        <h3>
          4 steps to help stop police brutality:
        </h3>

        <ol>
          <li>Dial the above number.</li>
          <li>Type in your zip code.</li>
          <li>Select a congressmen.</li>
          <li>Read from the script below.</li>
        </ol>
      </p>
    </div>
  </div>

  <div class="card my-5 text-body" >
    <div class="card-body">
      <h5 class="card-title">Read this when calling your representative</h5>
      <p class="card-text">
        Hello. I’m a constituent from your district and I’m very concerned about
        the ongoing violence police officers are using against civilians. I ask
        you to please support and consider co-sponsoring Rep. Amash’s “Ending
        Qualified Immunity Act” to restore Americans’ rights to seek relief when
        their civil rights are violated. If the President won’t sign it, please
        make every attempt to override a veto. Americans will not tolerate
        special protections for abuses of power by corrupt or violent officers.
      </p>

      <p class="card-text">
        I’ll be eagerly looking for your public announcement of support.
        And I’ll certainly be voting in November with this issue in mind.
        Thank you for your time and consideration.
      </p>
    </div>
  </div>
</main>